.App {
  text-align: center;
  margin: 100px 0 100px 0;
  font-size: medium;
}

.count {
  color: black;
  text-align: center;
}

.red-text {
  color: red;
}

.image-container {

position: relative;
display: inline-block;

}

.mainCounterBlock{
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0);
  color: white;
  padding: 115px 110px;

}